@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .level-btn {
        @apply flex justify-center items-center rounded-20px text-xl font-bold py-1.5;
    }
    .level-btn:hover {
        @apply shadow;
    }
    .level-btn:active {
        @apply transform translate-y-px;
    }
    .level-btn:disabled {
        @apply bg-gray shadow-none !important;
    }

    .level-btn_outlined {
        @apply border-2;
    }
    .level-btn_outlined:disabled {
        @apply bg-transparent text-gray border-gray !important;
    }


    .level-btn_half-filled {
        @apply border-2;
        @apply bg-opacity-25;
    }
    .level-btn_half-filled:disabled {
        @apply text-gray !important;
    }

    .level-btn_filled:disabled {
        @apply text-white !important;
    }
}
