  .dashboard-page {
    font-family: sans-serif;
    text-align: center;
    font-family: Courier;
    font-weight: 700;
    /* background-color: #fff; */
    padding: 50px 50px 400px;
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 45px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1340px;
    margin: auto;
  }

  .dashboard-page .recharts-responsive-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
  }
  
  .dashboard-widget {
    background: #ffffff;
    border: 3px solid #60d09a;
    padding: 20px 30px 30px;
    border-radius: 20px;
    page-break-inside: avoid;
  }

  .dashboard-widget p {
      margin-top: 24px;
  }

  .dashboard-widget.indicators {
    grid-column: 1 / 9;
    grid-row: 1;
  }

  .dashboard-widget.indicators > div > div {
    flex-grow: 1;
  }

  .dashboard-widget.fdv {
    margin-right: 25px;
  }

  .contract .dashboard-widget {
    padding-top: 25px;
  }

  .contract .dashboard-widget,
  .monthly-plan .dashboard-widget {
    height: 120px;
    margin-top: 10px;
  }

  .monthly-plan .dashboard-widget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    padding: 0;
    overflow: hidden;
    background-color: #60D09A;
    font-weight: 700;
  }

  .monthly-plan .dashboard-widget div {
    padding: 16px 0 17px;
    background-color: #fff;
  }

  .dashboard-widget.investments {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .dashboard-widget.price-chart {
    grid-column: 4 / 9;
    grid-row: 2;
  }

  .dashboard-widget.pending-rewards {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .dashboard-widget.volume {
    grid-column: 1 / 4;
    grid-row: 4;
    margin-top: -20px;
  }

  .dashboard-widget.mcap-tvl-ratio {
    grid-column: 4 / 9;
    grid-row: 3 / 5;
  }

  .dashboard-widget.protovol {
    grid-column: 4 / 9;
    grid-row: 5;
  }

  .dashboard-widget.total-supply {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
  }

  .dashboard-widget.market-screener {
    grid-column: 1 / 4;
    grid-row: 7;
    padding-bottom: 45px;
  }

  .dashboard-widget.token-price {
    grid-column: 4 / 9;
    grid-row: 6 / 8;
  }

  .dashboard-widget.holders {
    padding-bottom: 0;
  }

  .dashboard-widget.leaderboard {
    grid-column: 1 / 9;
    grid-row: 8;
    padding-bottom: 0;
  }

  .dashboard-widget.leaderboard .load-more {
    text-align: center;
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
  }

  .dashboard-widget.leaderboard .leaderboard-table {
    align-content: unset;
    text-align: initial;
    align-items: center;
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 120px;
    grid-template-rows: 60px;
    grid-gap: 3px 0;
    grid-auto-rows: 60px;
    background-color: #60D09A;
    margin: 0 -30px;
  }

  .dashboard-widget.leaderboard .leaderboard-table div {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .dashboard-widget.trading-fees {
    grid-column: 1 / 9;
    grid-row: 9;
  }

  .dashboard-widget.market-screener .screeners {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 0 32px;
    grid-template-rows: 132px;
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard-widget.market-screener .screener {
    background: linear-gradient(90deg, rgb(255, 92, 92) 50%, rgb(96, 208, 154) 50%);
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 100%;
    border-radius: 20px;
  }

  .dashboard-widget.market-screener .screener-bar {
    position: absolute;
    height: 100%;
    outline: 100px solid rgba(255,255,255,0.7)!important;
  }
  
  .dashboard-widget .pieLabel {
    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 5px;
  }
  
  .dashboard-widget .pieLegend {
    margin-top: 30px;
    width: 100%;
  }

  .dashboard-widget .pieLegend tt {
    height: 38px;
  }

  .dashboard-widget .pieLegend td:first-child {
    text-align: left;
  }

  .dashboard-widget .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 1em;
  }

  .dashboard-widget h2, h3 {
    text-align: left;
    color: #323232;
  }

  .dashboard-widget h2 {
    font-family: "Bord Demo";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
  }

  .dashboard-widget h3 {
    font-family: "Courier";
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
  }
  
  .dashboard-widget h3 span {
    padding: 3px 11px;
    background: #60d09a;
    border-radius: 5px;
    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
  
    display: inline-flex;
    align-items: center;
  
    color: #ffffff;
  }
  